.modalBackground {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.273);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  /* border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.734);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  min-height: 30em;
  min-width: 50em;
  height: 30em;
  width: 50em;
  justify-content: space-evenly; */

  display: grid;
  border-radius: 12px;
  grid-template: 4.4% 60% 35%/ 1fr;
  background-color: rgba(255, 255, 255, 0.734);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30.9em;
  width: 60em;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 15px;
  padding-top: 10px;
}

.modalBg {
  display: flex;
  flex-wrap: wrap;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 30em;
  min-width: 53.1em;
  height: 33.1em;
  width: 50em;
}

.body {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
}

.button {
  color: white;
  background-color: rgb(111, 111, 111);
  border-radius: 0.4em;
  border-style: unset;
  height: 1.7em;
  width: 1.7em;
  box-shadow: 1px -2px 19px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px -2px 19px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -2px 19px -5px rgba(0,0,0,0.75);
}

.button:hover{
  cursor: pointer;
}

.infoCont1{
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template: 70% /30% 70% ;
  padding-right: 15px;
}

.infoCont1 img{
  width: 100%;
  height: 100%;
  object-fit: contain; /* or "contain" */
}


.infoCont2{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;

}

.title{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
