.nav {
  background-color: cornflowerblue;
  height: 5vh;
}

.test {
  display: grid;
  border-radius: 12px;
  grid-template: 4.4% 60% 35%/ 1fr;
  background-color: rgba(255, 255, 255, 0.734);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30.9em;
  width: 60em;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-right: 15px;
  padding-top: 10px;
}

.testbg {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.273);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
