.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 12em;
    max-width: 75em;
    height: 12em;
    width: 75em;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    max-height: 10em;
    max-width: 70em;
}

.auxInfoCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.synopsis{
    padding: 1em;
    overflow: auto;
    min-width: 60em;
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
}

.picCont{
    object-fit: contain;
    max-width: 10em;
    max-height: 10em;
}
.pic{
    max-width: 10em;
    max-height: 10em;
}